
body {
	background-image: url("../images/background.jpg");
 	background-repeat: no-repeat;
 	background-size: cover; 	
    background-attachment: fixed;
    background-position: center;

 }

.row{ 
opacity: 0.9;
}

.jumbotron {
	background-color: sienna;
}




#submit-button {
	display: block;
	width: 200px;

}




